aiohttp==3.8.5
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
async-timeout==4.0.2
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
exceptiongroup==1.2.0
fastapi==0.110.1
frozenlist==1.4.0
httptools==0.6.1
idna==3.4
multidict==6.0.4
openai==0.27.8
pydantic==2.7.0
pydantic-settings==2.2.1
pydantic_core==2.18.1
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3
PyYAML==6.0.1
requests==2.31.0
sniffio==1.3.1
solidity-flattener==0.2.2
starlette==0.37.2
tqdm==4.65.0
tzdata==2023.3
urllib3==2.0.4
uvicorn==0.29.0
h11>=0.16
numpy>=1.25.2,<2.6
pandas>=2.1,<3.0
typing_extensions>=4.12.0
watchfiles==0.21.0
websockets==12.0
yarl==1.9.2
altgraph==0.17.2
future==0.18.2
macholib==1.15.2
six==1.15.0
